@font-face {
  font-family: 'MarkPro';
  font-style: normal;
  font-weight: normal;
  src: font-path('MarkPro/MarkProBold.woff2') format('woff2'),
    font-path('MarkPro/MarkProBold.woff') format('woff'),
    font-path('MarkPro/MarkProBold.otf') format('opentype');
}

@font-face {
  font-family: 'Youandi';
  font-style: normal;
  font-weight: 300;
  src: font-path('Youandi/YouandiModernTR.eot');
  src: font-path('Youandi/YouandiModernTR.eot?#iefix') format('embedded-opentype'),
    font-path('Youandi/YouandiModernTR.woff2') format('woff2'),
    font-path('Youandi/YouandiModernTR.woff') format('woff'),
    font-path('Youandi/YouandiModernTR.ttf') format('truetype');
}

@font-face {
  font-family: 'Youandi';
  font-style: normal;
  font-weight: 600;
  src: font-path('Youandi/YouandiModernTB.eot');
  src: font-path('Youandi/YouandiModernTB.eot?#iefix') format('embedded-opentype'),
    // font-path('Youandi/YouandiModernTB.woff2') format('woff2'),
    font-path('Youandi/YouandiModernTB.woff') format('woff'),
    font-path('Youandi/YouandiModernTB.ttf') format('truetype');
}

@font-face {
  font-family: 'Youandi';
  font-style: normal;
  font-weight: 700;
  src: font-path('Youandi/YouandiModernHEB.eot');
  src: font-path('Youandi/YouandiModernHEB.eot?#iefix') format('embedded-opentype'),
    font-path('Youandi/YouandiModernHEB.woff2') format('woff2'),
    font-path('Youandi/YouandiModernHEB.woff') format('woff'),
    font-path('Youandi/YouandiModernHEB.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 300;
  src:
    font-path('NanumGothic/NanumGothicLight.woff2') format('woff2'),
    font-path('NanumGothic/NanumGothicLight.woff') format('woff'),
    // font-path('NanumGothic/NanumGothicLight.otf') format('opentype'),
    font-path('NanumGothic/NanumGothicLight.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 400;
  src:
    font-path('NanumGothic/NanumGothic.woff2') format('woff2'),
    font-path('NanumGothic/NanumGothic.woff') format('woff'),
    // font-path('NanumGothic/NanumGothic.otf') format('opentype'),
    font-path('NanumGothic/NanumGothic.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 700;
  src:
    font-path('NanumGothic/NanumGothicBold.woff2') format('woff2'),
    font-path('NanumGothic/NanumGothicBold.woff') format('woff'),
    // font-path('NanumGothic/NanumGothicBold.otf') format('opentype'),
    font-path('NanumGothic/NanumGothicBold.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 800;
  src:
    font-path('NanumGothic/NanumGothicExtraBold.woff2') format('woff2'),
    font-path('NanumGothic/NanumGothicExtraBold.woff') format('woff'),
    // font-path('NanumGothic/NanumGothicExtraBold.otf') format('opentype'),
    font-path('NanumGothic/NanumGothicExtraBold.ttf') format('truetype');
}


@font-face {
  font-family: 'Spoqa';
  font-style: normal;
  font-weight: 100;
  src: font-path('Spoqa/SpoqaHanSansNeo-Thin.eot');
  src: font-path('Spoqa/SpoqaHanSansNeo-Thin.eot?#iefix') format('embedded-opentype'),
    font-path('Spoqa/SpoqaHanSansNeo-Thin.woff2') format('woff2'),
    font-path('Spoqa/SpoqaHanSansNeo-Thin.woff') format('woff'),
    font-path('Spoqa/SpoqaHanSansNeo-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa';
  font-style: normal;
  font-weight: 300;
  src: font-path('Spoqa/SpoqaHanSansNeo-Light.eot');
  src: font-path('Spoqa/SpoqaHanSansNeo-Light.eot?#iefix') format('embedded-opentype'),
    font-path('Spoqa/SpoqaHanSansNeo-Light.woff2') format('woff2'),
    font-path('Spoqa/SpoqaHanSansNeo-Light.woff') format('woff'),
    font-path('Spoqa/SpoqaHanSansNeo-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa';
  font-style: normal;
  font-weight: 400;
  src: font-path('Spoqa/SpoqaHanSansNeo-Regular.eot');
  src: font-path('Spoqa/SpoqaHanSansNeo-Regular.eot?#iefix') format('embedded-opentype'),
    font-path('Spoqa/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
    font-path('Spoqa/SpoqaHanSansNeo-Regular.woff') format('woff'),
    font-path('Spoqa/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa';
  font-style: normal;
  font-weight: 500;
  src: font-path('Spoqa/SpoqaHanSansNeo-Medium.eot');
  src: font-path('Spoqa/SpoqaHanSansNeo-Medium.eot?#iefix') format('embedded-opentype'),
    font-path('Spoqa/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
    font-path('Spoqa/SpoqaHanSansNeo-Medium.woff') format('woff'),
    font-path('Spoqa/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa';
  font-style: normal;
  font-weight: 700;
  src: font-path('Spoqa/SpoqaHanSansNeo-Bold.eot');
  src: font-path('Spoqa/SpoqaHanSansNeo-Bold.eot?#iefix') format('embedded-opentype'),
    font-path('Spoqa/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
    font-path('Spoqa/SpoqaHanSansNeo-Bold.woff') format('woff'),
    font-path('Spoqa/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoKR';
  font-style: normal;
  font-weight: 100;
  src: font-path('NotoKR/NotoKR-Thin.eot');
  src: font-path('NotoKR/NotoKR-Thin.eot?#iefix') format('embedded-opentype'),
       font-path('NotoKR/NotoKR-Thin.woff2') format('woff2'),
       font-path('NotoKR/NotoKR-Thin.woff') format('woff'),
       font-path('NotoKR/NotoKR-Thin.ttf') format('truetype'),
       font-path('NotoKR/NotoKR-Thin.svg#NotoKR-Thin') format('svg');
}

@font-face {
  font-family: 'NotoKR';
  font-style: normal;
  font-weight: 300;
  src: font-path('NotoKR/NotoKR-Light.eot');
  src: font-path('NotoKR/NotoKR-Light.eot?#iefix') format('embedded-opentype'),
       font-path('NotoKR/NotoKR-Light.woff2') format('woff2'),
       font-path('NotoKR/NotoKR-Light.woff') format('woff'),
       font-path('NotoKR/NotoKR-Light.ttf') format('truetype'),
       font-path('NotoKR/NotoKR-Light.svg#NotoKR-Light') format('svg');
}

@font-face {
  font-family: 'NotoKR';
  font-style: normal;
  font-weight: 400;
  src: font-path('NotoKR/NotoKR-Regular.eot');
  src: font-path('NotoKR/NotoKR-Regular.eot?#iefix') format('embedded-opentype'),
       font-path('NotoKR/NotoKR-Regular.woff2') format('woff2'),
       font-path('NotoKR/NotoKR-Regular.woff') format('woff'),
       font-path('NotoKR/NotoKR-Regular.ttf') format('truetype'),
       font-path('NotoKR/NotoKR-Regular.svg#NotoKR-Regular') format('svg');
}

@font-face {
  font-family: 'NotoKR';
  font-style: normal;
  font-weight: 500;
  src: font-path('NotoKR/NotoKR-Medium.eot');
  src: font-path('NotoKR/NotoKR-Medium.eot?#iefix') format('embedded-opentype'),
       font-path('NotoKR/NotoKR-Medium.woff2') format('woff2'),
       font-path('NotoKR/NotoKR-Medium.woff') format('woff'),
       font-path('NotoKR/NotoKR-Medium.ttf') format('truetype'),
       font-path('NotoKR/NotoKR-Medium.svg#NotoKR-Medium') format('svg');
}

@font-face {
  font-family: 'NotoKR';
  font-style: normal;
  font-weight: 700;
  src: font-path('NotoKR/NotoKR-Bold.eot');
  src: font-path('NotoKR/NotoKR-Bold.eot?#iefix') format('embedded-opentype'),
       font-path('NotoKR/NotoKR-Bold.woff2') format('woff2'),
       font-path('NotoKR/NotoKR-Bold.woff') format('woff'),
       font-path('NotoKR/NotoKR-Bold.ttf') format('truetype'),
       font-path('NotoKR/NotoKR-Bold.svg#NotoKR-Bold') format('svg');
}

@font-face {
  font-family: 'NotoKR';
  font-style: normal;
  font-weight: 900;
  src: font-path('NotoKR/NotoKR-Black.eot');
  src: font-path('NotoKR/NotoKR-Black.eot?#iefix') format('embedded-opentype'),
       font-path('NotoKR/NotoKR-Black.woff2') format('woff2'),
       font-path('NotoKR/NotoKR-Black.woff') format('woff'),
       font-path('NotoKR/NotoKR-Black.ttf') format('truetype'),
       font-path('NotoKR/NotoKR-Black.svg#NotoKR-Black') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: font-path('Roboto/Roboto-Thin.eot');
  src: font-path('Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
       font-path('Roboto/Roboto-Thin.woff2') format('woff2'),
       font-path('Roboto/Roboto-Thin.woff') format('woff'),
       font-path('Roboto/Roboto-Thin.ttf') format('truetype'),
       font-path('Roboto/Roboto-Thin.svg#Roboto-Thin') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: font-path('Roboto/Roboto-Light.eot');
  src: font-path('Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
       font-path('Roboto/Roboto-Light.woff2') format('woff2'),
       font-path('Roboto/Roboto-Light.woff') format('woff'),
       font-path('Roboto/Roboto-Light.ttf') format('truetype'),
       font-path('Roboto/Roboto-Light.svg#Roboto-Light') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: font-path('Roboto/Roboto-Regular.eot');
  src: font-path('Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
       font-path('Roboto/Roboto-Regular.woff2') format('woff2'),
       font-path('Roboto/Roboto-Regular.woff') format('woff'),
       font-path('Roboto/Roboto-Regular.ttf') format('truetype'),
       font-path('Roboto/Roboto-Regular.svg#Roboto-Regular') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: font-path('Roboto/Roboto-Medium.eot');
  src: font-path('Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
       font-path('Roboto/Roboto-Medium.woff2') format('woff2'),
       font-path('Roboto/Roboto-Medium.woff') format('woff'),
       font-path('Roboto/Roboto-Medium.ttf') format('truetype'),
       font-path('Roboto/Roboto-Medium.svg#Roboto-Medium') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: font-path('Roboto/Roboto-Bold.eot');
  src: font-path('Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
       font-path('Roboto/Roboto-Bold.woff2') format('woff2'),
       font-path('Roboto/Roboto-Bold.woff') format('woff'),
       font-path('Roboto/Roboto-Bold.ttf') format('truetype'),
       font-path('Roboto/Roboto-Bold.svg#Roboto-Bold') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: font-path('Roboto/Roboto-Black.eot');
  src: font-path('Roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'),
       font-path('Roboto/Roboto-Black.woff2') format('woff2'),
       font-path('Roboto/Roboto-Black.woff') format('woff'),
       font-path('Roboto/Roboto-Black.ttf') format('truetype'),
       font-path('Roboto/Roboto-Black.svg#Roboto-Black') format('svg');
}

